// Oranges
$klm-orange: #E37222;
$klm-accessible-orange: #C74f00;

// Primary blues
$klm-blue: #00A1DE;
$klm-night-blue: #003145;
$klm-accessible-blue: #007EB2;

// Secondary blues
$klm-lighter-blue: #F0F8FC;
$klm-cloudy-blue: #C2DEEA;

// Shades of grey
$klm-white: #FFF;
$klm-lighter-grey: #F2F5F7;
$klm-light-grey: #E0E6E8;
$klm-medium-grey: #B9C1C4;
$klm-dark-grey: #6E787D;
$klm-darker-grey: rgba(#000, 0.87);

// Notifications, messages and other bonus elements
$klm-green: #378700;
$klm-yellow: #FECB00;
$klm-red: #E00034;
