//KLM fonts
@font-face {
  font-family: KLMNoa-Regular;
    src: url(../fonts//KLMNoa-Regular.otf),
     url(../fonts//KLMNoa-Regular.woff);
}

@font-face {
  font-family: KLMNoa-Oblique;
  src: url(../fonts//KLMNoa-Oblique.otf),
   url(../fonts//KLMNoa-Oblique.woff);
}

@font-face {
  font-family: KLMNoa-LightOblique;
  src: url(../fonts//KLMNoa-LightOblique.otf),
  url(../fonts//KLMNoa-LightOblique.woff);

}

@font-face {
  font-family: KLMNoa-Light;
  src: url(../fonts//KLMNoa-Light.otf),
  url(../fonts//KLMNoa-Light.woff);

}

@font-face {
  font-family: KLMNoa-DemiLightOblique;
  src: url(../fonts//KLMNoa-DemiLightOblique.woff),
  url(../fonts//KLMNoa-DemiLightOblique.otf);
}

@font-face {
  font-family: KLMNoa-DemiLight;
  src: url(../fonts//KLMNoa-DemiLight.woff),
  url(../fonts//KLMNoa-DemiLight.otf);
}

@font-face {
  font-family: KLMNoa-BoldOblique;
  src: url(../fonts//KLMNoa-BoldOblique.woff),
  url(../fonts//KLMNoa-BoldOblique.otf);
}

@font-face {
  font-family: KLMNoa-Bold;
  src: url(../fonts//KLMNoa-Bold.woff),
  url(../fonts//KLMNoa-Bold.otf);

}

@font-face {
  font-family: Longhand_LP_Regular;
  src: url(../fonts//Longhand_LP_Regular.woff),
  url(../fonts//Longhand_LP_Regular.otf);
}

@font-face {
  font-family: Longhand_LP_Bold;
  src: url(../fonts//Longhand_LP_Bold.woff),
  url(../fonts//Longhand_LP_Bold.otf);
}

@font-face {
  font-family: NoaLTPro-Light;
  src: url(../fonts//NoaLTPro-Light.otf),
  url(../fonts//NoaLTPro-Light.woff);

}

@font-face {
  font-family: San_Francisco_Display_Bold;
  src: url(../fonts//San_Francisco_Display_Bold.WOFF),
  url(../fonts//San_Francisco_Display_Bold.ttf);

}

@font-face {
  font-family: San_Francisco_Display_Regular;
  src: url(../fonts//SF-UI-Text-Regular.woff),
  url(../fonts//SF-UI-Text-Regular.otf);
}

@font-face {
  font-family: San_Francisco_Display_Thin;
  src: url(../fonts//San_Francisco_Display_Thin.WOFF),
  url(../fonts//San_Francisco_Display_Thin.ttf);
}

@font-face {
  font-family: San_Francisco_Display_Ultralight;
  src: url(../fonts//San_Francisco_Display_Ultralight.WOFF),
  url(../fonts//San_Francisco_Display_Ultralight.ttf);
}

@font-face {
  font-family: San_Francisco_Text_BoldItalic;
  src: url(../fonts//San_Francisco_Text_BoldItalic.WOFF),
  url(../fonts//San_Francisco_Text_BoldItalic.ttf);
}

@font-face {
  font-family: San_Francisco_Text_Medium;
  src: url(../fonts//San_Francisco_Text_Medium.WOFF),
  url(../fonts//San_Francisco_Text_Medium.ttf);
}

@font-face {
  font-family: San_Francisco_Text_MediumItalic;
  src: url(../fonts//San_Francisco_Text_MediumItalic.WOFF),
  url(../fonts//San_Francisco_Text_MediumItalic.ttf);
}

@font-face {
  font-family: San_Francisco_Text_RegularItalic;
  src: url(../fonts//San_Francisco_Text_RegularItalic.WOFF),
  url(../fonts//San_Francisco_Text_RegularItalic.ttf);
}
